# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs / temp
*.log
*.tmp
*.bak

# images
output_images/
input_images/

# Model weights
*.h5

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
